a.chat-button {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    background: white;
    border: 1px solid;
    border-radius: 0px;
}

a.chat-button:hover {
    background-color: #1244B2;
    color: white;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h1 {
    font-family: 'Sansita', sans-serif;
}

h2 {
    font-family: 'Sansita', sans-serif;
}

.chat-button {
    font-family: 'Sansita', sans-serif;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .scroll-down{
      display: none;
    }
}
